<html>
<head>
    <title>$i18n.getText("ru.itq.time-in-status.statistic.title")</title>
    <meta name="decorator" content="atl.general">
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
    $webResourceManager.requireResource("com.atlassian.auiplugin:table")
</head>
<body>
<div class="field-group" style="margin: 8px auto 8px auto; height: 40px; display: flex">
    <select name="project" id="project"
            style="width: 700px; margin: auto 20px auto 20px"
            placeholder="Select a project"
    >
        <option
            #if($selectedProjectKey)
                    selected
            #end
        ></option>
        #foreach($project in $projectList)
            <option
                    value="$project"
                #if($selectedProjectKey==$project)
                    selected
                #end

            >
                $project
            </option>
        #end
    </select>
</div>
<div class="field-group" style="margin: 8px auto 8px auto; height: 40px; display: flex">
    <select name="issueIdsForProject" id="issueIdsForProject"
            style="width: 700px; margin: auto 20px auto 20px"
            placeholder="Select an issue id"
    >
        <option
            #if($selectedEpicKey)
                    selected
            #end
        ></option>
        #foreach($epicKey in $issueIdsForProject)
            <option
                    value="$epicKey"
                #if($selectedEpicKey==$epicKey)
                    selected
                #end

            >
                $epicKey
            </option>
        #end
    </select>
</div>

<div class="field-group" style="margin: 8px auto 8px auto; height: 40px; display: flex">
    <select name="issueType" id="issueType"
            style="width: 700px; margin: auto 20px auto 20px"
            placeholder="Select an issue type"
    >
        <option
                value=""
            #if($selectedIssueType)
                selected
            #end
        >
        </option>
        #foreach($issueType in $issueTypesForProject)
            <option
                    value="$issueType.getId()"
                #if($selectedIssueType==$issueType.getId())
                    selected
                #end

            >
                $issueType.getName()
            </option>
        #end
    </select>
</div>


    #if ($inwardLinks.size()>0)
    <div class="field-group" style="margin: 8px auto 8px auto; display: flex">
        <table class="aui" style="width: 700px; margin: auto 20px auto 20px">
            <thead>
            <tr>
                <th id="basic-number">Код</th>
                <th id="basic-fname">Тема</th>
                <th id="basic-fname">Статус</th>
                <th id="basic-fname">Затрачено</th>
                <th><input type="checkbox" name="headerCheck" id="header-check" onclick="fillAllCheckBoxes()"></th>
            </tr>
            </thead>
            <tbody>
                #foreach($inwardLink in $inwardLinks)
                <tr>
                    <td headers="basic-number">
                        <a href="$baseUrl/browse/$inwardLink.getKey()" target="_blank">$inwardLink.getKey()</a>
                    </td>
                    <td headers="basic-fname">$inwardLink.getSummary()</td>
                    <td headers="basic-fname">$inwardLink.getStatus().getSimpleStatus().getName()</td>
                    <td headers="basic-fname">$timeFormatter.formatTime($timeSpentMap.get($inwardLink.getKey()))</td>
                    <td>
                        <input
                                class="issue-selected-key"
                                type="checkbox"
                                name="checkbox"
                                data-issueid="$inwardLink.getId()"
                                id="$inwardLink.getKey()"
                                onchange="rerenderChart()"
                        >
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    #end
<div style="padding-left: 20px">
    <div style="margin: 8px auto 8px auto; display: flex">
        <button class="aui-button aui-button-primary" onclick="loadExcel()">Выгрузить в Excel</button>
    </div>
</div>
    #foreach($statistic in $statisticForIssue)
    <div class="time-in-status-stats" style="display: none" data-spent="$statistic.getTimeSpent()"
         data-key="$statistic.getIssueKey()"
         data-state="$statistic.getLastState()->$statistic.getNextState()"></div>
    #end
<div style="width: 600px; height: 600px; position: absolute; left: 730px; top: 0px; margin: 20px auto 20px auto">
    <canvas id="results-chart"></canvas>
</div>

<script>
    AJS.$("#project").auiSelect2().on("change", function (params) {
        var id = params["added"].id;
        if (!id) {
            return;
        }
        window.location.replace(window.location.origin + window.location.pathname + "?projectKey=" + id);
    });
    AJS.$("#issueType").auiSelect2().on("change", function (params) {
        var issueType = params["added"].id;
        var search = window.location.search;
        var urlParams = new URLSearchParams(search);
        var epicKey = urlParams.get("epicKey");
        var projectKey = urlParams.get("projectKey");
        var url = window.location.origin + window.location.pathname;
        if (projectKey) {
            url += "?projectKey=" + projectKey;
        }
        if (epicKey) {
            url += "&epicKey=" + epicKey;
        }
        if (issueType) {
            url += "&issueType=" + issueType;
        }
        window.location.replace(url);
    });
    AJS.$("#issueIdsForProject").auiSelect2().on("change", function (params) {
        var epicKey = params["added"].id;
        if (!epicKey) {
            return;
        }
        var search = window.location.search;
        var urlParams = new URLSearchParams(search);
        var issueType = urlParams.get("issueType");
        var projectKey = urlParams.get("projectKey");
        var url = window.location.origin + window.location.pathname;
        if (projectKey) {
            url += "?projectKey=" + projectKey;
        }
        if (epicKey) {
            url += "&epicKey=" + epicKey;
        }
        if (issueType) {
            url += "&issueType=" + issueType;
        }
        window.location.replace(url);
    });
    fillTimeSpentMap(getSelectedTableItems());
    renderChart();
</script>
</body>