<html lang="$i18n.getLocale().getLanguage()">
<head>
    <title>$i18n.getText("ru.itq.time-in-status.statistic.title")</title>
    <meta name="decorator" content="atl.general">
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2");
    $webResourceManager.requireResource("com.atlassian.auiplugin:table");
</head>
<body>
<div class="field-group" style="margin: 8px auto 8px auto; height: 40px; display: flex">
    <select name="project" id="project"
            style="width: 700px; margin: auto 20px auto 20px">
        #foreach($project in $projectList)
            <option
                    value="$project"
                #if($selectedProject==$project)
                    selected
                #end

            >
                $project
            </option>
        #end
    </select>
</div>
<div class="field-group" style="margin: 8px auto 8px auto; height: 40px; display: flex">
    <select name="issueIdsForProject" id="issueIdsForProject"
            style="width: 700px; margin: auto 20px auto 20px">
        #foreach($epicKey in $issueIdsForProject)
            <option
                    value="$epicKey"
                #if($selectedEpicKey==$epicKey)
                    selected
                #end

            >
                $epicKey
            </option>
        #end
    </select>
</div>
<div class="field-group" style="margin: 8px auto 8px auto; display: flex">
    <table class="aui" style="width: 700px; margin: auto 20px auto 20px">
        <thead>
        <tr>
            <th id="basic-number">Код</th>
            <th id="basic-fname">Тема</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            #foreach($inwardLink in $inwardLinks)
            <tr>
                <td headers="basic-number">$inwardLink.getKey()</td>
                <td headers="basic-fname">$inwardLink.getDescription()</td>
                <td>
                    <input
                            class="issue-selected-key"
                            type="checkbox"
                            name="checkbox"
                            id="$inwardLink.getKey()"
                            onchange="rerenderChart()"
                    >
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>
    #foreach($statistic in $statisticForIssue)
    <div class="time-in-status-stats" style="display: none" data-spent="$statistic.getTimeSpent()"
         data-key="$statistic.getIssueKey()"
         data-state="$statistic.getLastStateName()->$statistic.getNextStateName()"></div>
    #end
<div style="width: 500px; height: 300px; position: absolute; left: 720px; top: 20px">
    <canvas id="results-chart"></canvas>
</div>

<script>
    AJS.$("#project").auiSelect2().on("change", function (params) {
        var id = params["added"].id;
        if (!id) {
            return;
        }
        window.location.replace(window.location.origin + window.location.pathname + "?projectKey=" + id);
    });
    AJS.$("#issueIdsForProject").auiSelect2().on("change", function (params) {
        var id = params["added"].id;
        if (!id) {
            return;
        }
        var search = window.location.search;
        const urlParams = new URLSearchParams(search);
        var projectKey = urlParams.get("projectKey");
        window.location.replace(window.location.origin + window.location.pathname + "?projectKey=" + projectKey + "&epicKey=" + id);
    });
    fillTimeSpentMap(getSelectedTableItems());
    renderChart();
</script>
</body>